html, body {
    height: 100%;
    padding:0;
    margin:0;
    background-color: #cdbca3;
}
.navbar {
    display: block;
    padding-left: 24.5%;
    padding-right: 22.5%;
    overflow: hidden;
    background-color: #cdbca3;
  }
.navbar.scrolled {
    background-color: black !important;
    transition: background-color 200ms ease-out;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
}
.navbar a img {
    height: 49.25px;
    width: 128px;
}
#logo {
    height: 49.25px;
    width: 92.34375px;
}

.gallery {
    width: 610px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.portrait {
    margin-top: 25px;
    width:610px;
    height: 814px;
}
.footer {
    margin-top: 50px;
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media screen and (max-width:768px) {
  .navbar{
    display:none;
    }
}
